header {
    font-size: 14px;
}

body {
    font-size: 14px;
}

/* CSS for Navbar */
nav {
    font-size: 14px;
}

#container {
    position:relative;
}

#baseMountain{
    position: absolute;
}

#croppedSky{
    position: absolute;
    left: 0;
    top: 10px;
}

#croppedMountain {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.centered {
    position: relative;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  /* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: calc(5% + 25vw); /* the vw amount adjusts height */
    right: calc(7% + 29vw); /* Increase to push left */
    width: calc(60% + 5vw); /* https://stackoverflow.com/questions/42014594/linear-scaling-between-2-font-sizes-using-calc-and-vw */
    letter-spacing: calc(0.5vw + 1px);
    font-size: calc(4vw + 75px); 
    line-height: 1.2;
    color: #4d4d4d;
    font-family: "novecento-sans-condensed", sans-serif;
    font-weight: 700;
    text-align: right;
  }

.overlay2 {
    position: absolute;
    bottom: calc(5% + 20vw); /* the vw amount adjusts height */
    right: calc(7% + 29vw); /* Increase to push left */
    width: calc(60% + 5vw); 
    letter-spacing: calc(0.5vw + 1px);
    font-size: calc(4vw + 90px); 
    line-height: .5;
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-weight: 700;
    text-align: right;
}

/* Navigation Bar */
.navigation a{
    float:right;
    padding-top:35px;
    padding-left:35px;
    text-decoration: underline;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #101016;
    font-family: "Arial";
    font-weight: 900;
    font-style: italic;
}
.navigation img{
    float:left;
}

/* Mid Section */
.mid-section {
    position: relative;
    width: 100%; /* Maximum width */
  }
  
  .mid-section .history {
    position: absolute;
    bottom: 50%;
    right: 2%;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
  }
  .history h4 {
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 3vw;
  }
  .number {
    color: #414f6b81;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 10vw;
    position: absolute;
    bottom: 35%;
    right: 78%;
    padding-left: 10%;
    padding-right: 10%;
  }
  

/* Last Section */
.last-section {
    position: relative;
    width: 100%; /* Maximum width */
  }
  
  .last-section .content {
    position: absolute;
    bottom: 30%;
    right: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content h4 {
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 3vw;
  }
  