

header {
    font-size: 14px;
}

body {
    font-size: 14px;
}

/* CSS for Navbar */
nav {
    font-size: 14px;
}

#container {
    position:relative;
}

#baseMountain{
    position: absolute;
}

#croppedSky{
    position: absolute;
    left: 0;
    top: 10px;
}

#croppedMountain {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.centered {
    position: relative;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  /* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: calc(5% + 25vw); /* the vw amount adjusts height */
    right: calc(7% + 29vw); /* Increase to push left */
    width: calc(60% + 5vw); /* https://stackoverflow.com/questions/42014594/linear-scaling-between-2-font-sizes-using-calc-and-vw */
    letter-spacing: calc(0.5vw + 1px);
    font-size: calc(4vw + 75px); 
    line-height: 1.2;
    color: #4d4d4d;
    font-family: "novecento-sans-condensed", sans-serif;
    font-weight: 700;
    text-align: right;
  }

.overlay2 {
    position: absolute;
    bottom: calc(5% + 20vw); /* the vw amount adjusts height */
    right: calc(7% + 29vw); /* Increase to push left */
    width: calc(60% + 5vw); 
    letter-spacing: calc(0.5vw + 1px);
    font-size: calc(4vw + 90px); 
    line-height: .5;
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-weight: 700;
    text-align: right;
}
.initialLogo {
    position: absolute;
    bottom: calc(75% + 3vw); /* the vw amount adjusts height */
    right: calc(87% + 2vw); /* Increase to push left */
    width: calc(60% + 5vw); 
    font-size: calc(4vw + 1%); 
    text-align: right;
}
.overlay3 {
    position: absolute;
    bottom: calc(75% + 3vw); /* the vw amount adjusts height */
    right: calc(7% + 2vw); /* Increase to push left */
    width: calc(60% + 5vw); 
    font-size: calc(1vw + 2%); 
    text-align: right;
    color: white;
}
.overlay3 img {
    right: calc(30% _ 2vw);
}
.overlay3 a {
    color: white;
    margin-right: 2%;
}

/* Navigation Bar */

.navigation a{
    float:right;
    padding-top:35px;
    padding-left:35px;
    text-decoration: underline;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #101016;
    font-family: "Arial";
    font-weight: 900;
    font-style: italic;
}
.navigation img{
    float:left;
}

/* Mid Section */
.mid-section {
    margin: 0; padding: 0;
    position: relative;
    width: 100%; /* Maximum width */
  }
  
.mid-section .history {
    position: absolute;
    bottom: 50%;
    right: 2%;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
}
.history h4 {
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 3vw;
}
.number {
    color: #414f6b81;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 10vw;
    position: absolute;
    bottom: 35%;
    right: 78%;
    padding-left: 10%;
    padding-right: 10%;
}

/* Image overlay 
  https://www.w3schools.com/howto/howto_css_image_transparent.asp
*/
.mid-section .imageOverlay {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: #414f6bc7; /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

.mid-section img {
    width: 100%;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    flex: 1;
    max-width: 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
  
/* Style the images inside the grid */
.column img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
  
.column img:hover {
    opacity: 1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Carousel */
.carousel-indicators li {
    background-color: grey !important; /* I used the important tag because I had trouble overriding the color without it*/
    border: grey !important;
}
.carousel-indicators .active {
    background-color: #fff !important;
}

.carousel-inner .item.active img {
    width: 100%;
    display: block;
    height: auto;
}
  
/* description section */

.climb {
    color: #4d4d4d;
    background-color: lightgray; 
    /* the empty space between this section and the above picture
    stems from this section. I do not know why.  */
}
.climb h4 {
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 3vw;
  }
  .number2 {
    color: #414f6b81;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 10vw;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
  }
  

/* Last Section */
.last-section {
    position: relative;
    width: 100%; /* Maximum width */
  }
  
  .last-section .content {
    position: absolute;
    bottom: 30%;
    right: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content h4 {
    color: #414f6b;
    font-family: "novecento-sans-condensed", sans-serif;
    font-size: 3vw;
  }
  
  /* Footer */
  .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #414f6b;
  font-family: "novecento-sans-condense", sans-serif;
  font-style: bold;
  font-size: 3vw;
  color: #63769D;
  text-align: center;
}

.footer img{
    opacity: 0.3;
    float: left;
}